body, html, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  pointer-events: none;
}

@font-face {
  font-family: "Staat-Bold";
  src: url("public/fonts/Staat-Bold.otf");
  font-weight: normal;
}
@font-face {
  font-family: "Gotham-Book";
  src: url("public/fonts/Gotham-Book.otf");
  font-weight: normal;
}
.container_about, .container_list {
  max-width: 90%;
  min-height: 90vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #fcf6f5;
}
@media all and (max-width: 1024px) {
  .container_about, .container_list {
    max-width: 100%;
  }
}

@media all and (max-width: 768px) {
  .container_list {
    min-height: auto;
  }
}

.content_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 44vh;
  background-color: white;
}
.content_title h1 {
  font-family: "Staat-Bold";
  font-size: 90px;
  font-weight: normal;
  pointer-events: none;
  width: 100%;
  bottom: 0;
}
.content_title p {
  font-family: "Gotham-Book";
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  pointer-events: none;
  width: 100%;
}
@media all and (max-width: 1440px) {
  .content_title {
    padding-left: 5%;
  }
  .content_title h1 {
    font-size: 70px;
  }
}
@media all and (max-width: 768px) {
  .content_title {
    height: 25vh;
  }
  .content_title h1 {
    font-size: 50px;
  }
}

.content_intro {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 46vh;
}
@media all and (max-width: 768px) {
  .content_intro {
    height: 65vh;
  }
}

.content_blocs {
  width: 80%;
  min-height: 46vh;
  display: flex;
}
@media all and (max-width: 1024px) {
  .content_blocs {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media all and (max-width: 768px) {
  .content_blocs {
    padding-left: inherit;
    padding-right: inherit;
    width: 80%;
    flex-direction: column;
    padding-top: 20px;
  }
}

.bloc_txt {
  display: flex;
  align-items: center;
  width: 60%;
  min-height: auto;
}
.bloc_txt p {
  width: 550px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 26px;
}
@media all and (max-width: 1024px) {
  .bloc_txt p {
    width: 500px;
  }
}
@media all and (max-width: 768px) {
  .bloc_txt {
    width: 100%;
  }
  .bloc_txt p {
    width: 100%;
    font-size: 24px;
  }
}

.figure_1 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 40%;
  position: relative;
}
.figure_1 img {
  max-width: 310px;
  max-height: 370px;
  margin-top: -100px;
}
@media all and (max-width: 1024px) {
  .figure_1 img {
    max-width: 300px;
    max-height: 350px;
  }
}
@media all and (max-width: 768px) {
  .figure_1 {
    width: 65%;
    margin: auto;
  }
  .figure_1 img {
    max-width: 250px;
    max-height: 300px;
    margin-top: inherit;
  }
}

.figcaption_1 {
  position: absolute;
  font-family: "Gotham-Book";
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  top: 10%;
  writing-mode: vertical-rl;
  transform: rotate(360deg);
}

/* CONTAINER LIST */
.content_txt {
  width: 80%;
  min-height: 40vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.content_txt ul {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 35px;
}
.content_txt li {
  font-family: "Gotham-Book";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  pointer-events: inherit;
  cursor: pointer;
  margin-right: 65px;
  position: relative;
  top: 0;
  right: 0;
}
.content_txt li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: black;
  transform: scale3d(0, 1, 1);
  top: calc(100% + 0.15rem);
  left: 0;
  transform-origin: 0% 50%;
  transition: opacity 0.3s, transform 0.3s;
}
.content_txt li:hover::after {
  transform: scale3d(1, 1, 1);
}
.content_txt p {
  font-family: "Gotham-Book";
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
@media all and (max-width: 1440px) {
  .content_txt {
    width: 90%;
  }
}
@media all and (max-width: 768px) {
  .content_txt {
    width: 80%;
    min-height: auto;
    padding-bottom: 30px;
  }
  .content_txt ul {
    padding-top: 60px;
    margin-bottom: 20px;
  }
}

/* CONTAINER FOUNDERS */
.content_founders {
  width: 80%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.content_founders h2 {
  font-family: "Staat-Bold";
  font-size: 90px;
  font-weight: normal;
  pointer-events: none;
}
.content_founders p {
  font-family: "Gotham-Book";
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  pointer-events: none;
  margin-bottom: 50px;
}
@media all and (max-width: 1440px) {
  .content_founders h2 {
    font-size: 70px;
  }
}
@media all and (max-width: 768px) {
  .content_founders {
    width: 90%;
    min-height: auto;
    padding-top: 60px;
  }
  .content_founders h2 {
    font-size: 50px;
  }
  .content_founders p {
    margin-bottom: 30px;
  }
}

.container_founders {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container_founders img {
  max-width: 850px;
  height: 440px;
  display: flex;
  margin: auto;
  margin-top: -350px;
}
@media all and (max-width: 1440px) {
  .container_founders img {
    margin-top: -370px;
  }
}
@media all and (max-width: 768px) {
  .container_founders {
    height: auto;
  }
  .container_founders img {
    max-width: 100%;
    height: auto;
    margin-top: inherit;
  }
}

.content_baseline {
  width: 80%;
  min-height: 70vh;
  margin: auto;
  display: flex;
}
@media all and (max-width: 1440px) {
  .content_baseline {
    width: 90%;
  }
}
@media all and (max-width: 1024px) {
  .content_baseline {
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  .content_baseline {
    flex-direction: column;
  }
}

.content_found_left {
  width: 60%;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 768px) {
  .content_found_left {
    width: 80%;
    margin: auto;
    padding-top: 60px;
  }
}

.content_found_right {
  width: 40%;
  min-height: 65vh;
  position: relative;
}
.content_found_right img {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  padding-top: 60px;
  padding-right: 100px;
  width: 265px;
  height: 310px;
}
@media all and (max-width: 1024px) {
  .content_found_right img {
    padding-right: 10%;
  }
}
@media all and (max-width: 768px) {
  .content_found_right {
    width: 80%;
    min-height: auto;
    margin: auto;
  }
  .content_found_right img {
    margin: auto;
    position: inherit;
    padding-top: inherit;
    padding-bottom: 60px;
    padding-right: inherit;
  }
}

.top {
  width: 100%;
  min-height: 50%;
  display: flex;
  padding-left: 100px;
}
.top p {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 26px;
  font-weight: 300;
  width: 550px;
}
@media all and (max-width: 1024px) {
  .top {
    padding-left: 8%;
  }
  .top p {
    width: 500px;
  }
}
@media all and (max-width: 768px) {
  .top {
    padding-left: inherit;
  }
  .top p {
    width: 100%;
    font-size: 24px;
  }
}

.figure_2 {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 50%;
  position: relative;
}
.figure_2 img {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  width: 400px;
  height: 250px;
}
@media all and (max-width: 768px) {
  .figure_2 {
    position: inherit;
    margin: auto;
  }
  .figure_2 img {
    position: inherit;
    right: inherit;
    margin: auto;
  }
}

.figcaption_2 {
  position: absolute;
  font-family: "Gotham-Book";
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  right: 0;
  bottom: 40px;
}
@media all and (max-width: 768px) {
  .figcaption_2 {
    right: inherit;
    bottom: inherit;
    width: 80%;
    padding-top: 20px;
    text-align: center;
  }
}

/* CONTAINER BIO */
.container_bio {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  display: flex;
}
@media all and (max-width: 768px) {
  .container_bio {
    flex-direction: column;
  }
}

.content_bio_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
@media all and (max-width: 768px) {
  .content_bio_txt {
    width: 100%;
    order: 2;
    padding-top: 45px;
    padding-bottom: 40px;
  }
}

.title_bio {
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  font-weight: 300;
  width: 435px;
}
@media all and (max-width: 1024px) {
  .title_bio {
    width: 350px;
  }
}
@media all and (max-width: 768px) {
  .title_bio {
    margin: 0;
    padding: 0;
    width: 80%;
  }
}

.txt_bio {
  font-family: "Gotham-Book";
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  width: 435px;
}
@media all and (max-width: 1024px) {
  .txt_bio {
    width: 350px;
  }
}
@media all and (max-width: 768px) {
  .txt_bio {
    width: 80%;
  }
}

.content_bio_img, .content_bio_img2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  background-color: #fcf6f5;
  position: relative;
}
@media all and (max-width: 1024px) {
  .content_bio_img, .content_bio_img2 {
    width: 100%;
  }
  .content_bio_img img, .content_bio_img2 img {
    width: 350px;
    height: auto;
  }
}
@media all and (max-width: 768px) {
  .content_bio_img, .content_bio_img2 {
    padding-top: 100px;
  }
  .content_bio_img img, .content_bio_img2 img {
    width: 300px;
  }
}

.content_status {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 60px;
  text-align: center;
}
.content_status h3 {
  font-family: "Gotham-Book";
  font-size: 22px;
  font-weight: normal;
}
.content_status p {
  margin: O;
  padding: O;
  font-family: "Gotham-Book";
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  pointer-events: none;
}
@media all and (max-width: 1024px) {
  .content_status {
    bottom: 110px;
  }
}
@media all and (max-width: 768px) {
  .content_status {
    bottom: inherit;
    top: 25px;
  }
}

/*# sourceMappingURL=about.css.map */
