@include font-face('Staat-Bold', 'public/fonts/Staat-Bold', normal)
@include font-face('Gotham-Medium', 'public/fonts/Gotham-Medium', normal)

// FONTS
$serif : 'Staat-Bold'
$capitals : 'Gotham-Medium'
$crimson : 'Crimson Text', serif

// COLORS
$bc_Blue : #e0ecfa
$bc_Peach : #fcf6f5

// CURSORS
$pointer : pointer

// MIN-HEIGHT
$height_Vh : 100vh

